@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/aspect-ratio;
@tailwindcss/gradient;


:root {
  /*Colors*/
  --yale-blue: #0B5394;
  --golden-brown: #ffb700;
  --blue-gradient: linear-gradient(180deg, #0B5394 0%, #1F2A44 100%);
  --light-golden-gradient: linear-gradient(0deg, #9A7A1A 0%, #C8A82A 100%);
  --white: #ffffff;
  --black: #3a3a3a;
  --gradient-box: linear-gradient(180deg, #F9FCFF 0%, #FFF 100%);
  --black-shade:rgba(40, 40, 40, 0.35);


  /*font family*/
  font-family: Poppins;
}

.bg-blue-gradient {
  background: var(--blue-gradient);
}

.bg-light-golden-gradient {
  background: var(--light-golden-gradient);
}

.bg-gradient-box {
  background: var(--gradient-box);
}

.bg-docs-vault {
  background-image: url(../src/assets/DocsVault.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-lead-form {
  background-image: url(../src/assets/LeadFormImage.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-black-shade{
  background: var(--black-shade);
}

.bg-back{
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
  
}